<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>用户组添加用户 - bjyadmin</title>
	<wxcss />
    <bootstrapcss />
	<bootstrapjs />
	<script>
	var IMG_PATH = "__ADMIN_ACEADMIN_WX_IMG__";
	var STATIC = "__ADMIN_ACEADMIN__/js";
	var ROOT = "";
	</script>
</head>
<body>
<!-- #section:basics/面包屑导航 -->
	<include file="Index/breadcrumbs" />
<!-- /section:basics/面包屑导航 -->

<div class="vspace-6-sm"></div>
<div class="col-sm-12">
	<!-- #section:elements.tab.option -->
	<div class="tabbable">
		<ul class="nav nav-tabs padding-12" id="myTab4" class="fl">
			<li <if condition="$_type eq 'image'">class="active"</if>>
				<a href="{:U('index',array('type'=>'image'))}">图 片 列 表</a>
			</li>
			<li <if condition="$_type eq 'video'">class="active"</if>>
				<a href="{:U('index',array('type'=>'video'))}">视 频 列 表</a>
			</li>
			<li <if condition="$_type eq 'voice'">class="active"</if>>
				<a href="{:U('index',array('type'=>'voice'))}">语 音 列 表</a>
			</li>
			<li>
				<a href="{:U('syc_other_from_wechat')}">一键下载微信素材库到本地</a>
			</li>
			<!--暂时先不做-->
			<li class="search-form fr cf" style="    position: absolute;right: 4%;">
				<div class="sleft">
					<input type="text" name="title" class="search-input" value="" placeholder="请输入标题">
					<a class="sch-btn" href="javascript:;" id="search" url="{$search_url}">
					<i class="btn-search"></i></a>
				</div>
			</li>
		</ul>

		<div class="tab-content">
			<style>
			.appmsg_action a{
				color:black;
				text-decoration: none;
			}
			</style>
			<div class="table-striped">
				<ul class="material_list js-masonry" data-masonry-options='{ "itemSelector": ".appmsg_li", "columWidth": 308 }'>
				<volist name="list_data" id="list">
					<li class="appmsg_li">
						<div class="appmsg_item">
							<p class="title">{$list.update_time|time_format}</p>
							<div class="main_img" style="height: 100%">
								<a href="{$list.url}" target="_blank">
									<if condition="$list.type eq 'video'">
										
									<elseif condition="$list.type eq 'voice'" />
										<audio src="" controls="controls">
									<else/>
										<img src="{$list.cover_id|get_cover_url}"/>
									</if>
								</a>
							</div>
							<p class="desc ellipsis">{$list.name|json_decode}</p>
						</div>
						<!--<div class="appmsg_action">
							<a href="#">编辑</a>
							<a href="javascript:if(confirm('确定删除？'))location=''">删除</a>
						</div>-->
					</li>
					</volist>
				</ul>
			</div>
			<div class="page"> {$_page|default=''} </div>
		</div>
	</div>

	<!-- /section:elements.tab.option -->
</div><!-- /.col -->
</body>
<script type="text/javascript">
	//搜索功能
    $("#search").click(function(){
        var url = $(this).attr('url');
        var str = $('.search-input').val()
        var query  = 'title='+str.replace(/(^\s*)|(\s*$)/g,"");
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
        window.location.href = url;
    });
$(function(){
    //回车自动提交
    $('.search-form').find('input').keyup(function(event){
        if(event.keyCode===13){
            $("#search").click();
        }
    });

})
</script>
</html>