<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>debug</title>
    <bootstrapcss />
    <icheckcss />
</head>
<body>
<!-- #section:basics/面包屑导航 -->
	<include file="Index/breadcrumbs" />
<!-- /section:basics/面包屑导航 -->
<ul id="myTab" class="nav nav-tabs">
   <li>
		<a href="{:U('index')}">debug</a>
   </li>
</ul>
<div style='color: #282de8;font-size: 30px;margin-left: 400px;'>模式【<if condition='$_level eq 1'>请求链接自定义<elseif condition="$_level eq 2"/>微信接口<else/>CRM接口</if>】</div>
<form class="form-inline" method="post" id="form">
    <table class="table table-striped table-bordered table-hover table-condensed">
		<tr>
			<th>请求方法</th>
			<td>
			<if condition='($_level eq 2) OR ($_level eq 3)'>
				<select name="method">
					<volist name='_data' id='data'>
						<option value="{$data['method']}">{$data['name']}</option>
					</volist>
				</select>
			<else/>
				<textarea class="form-control" name="method" rows="3" cols="150"></textarea>
			</if>
			</td>
		</tr>
		<tr>
            <th>参数json</th>
			<td>
			   <textarea class="form-control" name="parameter" rows="20" cols="170"></textarea><a href="https://www.bejson.com" target="_blank">验证json</a>
			</td>
		</tr>
		<tr>
            <th>结果</th>
			<td>
			   <div class='jg'>这边显示结果</div>
			</td>
		</tr>
        <tr>
            <th></th>
            <td>
                <input class="btn btn-success" type="button" value="执行" id='curl'>
            </td>
        </tr>
    </table>
</form>
<bootstrapjs />
</body>
<script>
$("#curl").click(function () {
	$.ajax({
		type: "POST",
		url: "{:U('curl')}",
		data: $("#form").serialize(),
		dataType:'json',
		success: function (data){
			console.log(data);
			if(isJsonString(data)){
				$(".jg").html(data);
			}else{
				$(".jg").html(JSON.stringify(data));
			}
		},
		error: function (data){
			alert('系统出小差啦');
		}
	});
})
function isJsonString(str) {  
	try {  
		if (typeof JSON.parse(str) == "object") {  
			return true;  
		}  
	} catch(e) {  
	}  
	return false;  
}  
</script>
</html>